* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
    background-color: midnightblue;
}

h1{
    padding-bottom: 20px;
    color: lightsteelblue;
    font-size: 50px;
    text-align: center;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
    background-color: white;
    border-radius: 5px;
}

li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

li:last-child {
    border-bottom: none;
}

.fa-trash {
    cursor: pointer;
    color: red;
    margin-left: 10px;
}

#addTodoForm {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

input {
    padding: 10px;
    border: none;
    border-radius: 5px;
    margin-right: 10px;
    width: 70%;
    font-size: 16px;
}

button {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #4CAF50;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #3e8e41;
}